{% load static %}
<!-- precisa dessa linha para funcionar -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Olimpiadas</title>
    <link rel="stylesheet" href="{% static 'medalhistas/styles.css' %}" />
    <!-- Essa linha de código é a que linka o CSS -->
  </head>

    <body>
        
        <div class="container">

            <div class="container-titulo">
                <h1>Top 10 Países Medalhistas</h1>
            </div>

            <div class="paises">

                <div class="paises-container">

                    <img src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/2-bandeira-do-brasil.jpg" alt="">

                </div>

                <div class="paises-container">

                    <img src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/2-bandeira-do-brasil.jpg" alt="">

                </div>

                <div class="paises-container">

                    <img src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/2-bandeira-do-brasil.jpg" alt="">

                </div>

                <div class="paises-container">

                    <img src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/2-bandeira-do-brasil.jpg" alt="">

                </div>


                <div class="paises-container">

                    <img src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/2-bandeira-do-brasil.jpg" alt="">

                </div>

                <div class="paises-container">

                    <img src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/2-bandeira-do-brasil.jpg" alt="">

                </div>

                <div class="paises-container">

                    <img src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/2-bandeira-do-brasil.jpg" alt="">

                </div>

                <div class="paises-container">

                    <img src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/2-bandeira-do-brasil.jpg" alt="">

                </div>

            </div>



        </div>

    </body>


</html>